/*........................................................................................................................................................................................*/
/*Portrait Mode Smartphone Devices*/
@media (max-width: 575.98px) {
  .MobileDisplayNone {
    display: none;
  }

  .mobileNavigationBarDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 12.5vh;
    background-color: #FFFFFF;
  }

  .LogosDivClass {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 55vw;
    height: 12.5vh;
  }

  .CovidAZlogoImageClass {
    position: absolute;
    left: 7.5vw;
    top: 2.5vh;
  }

  .EvdeqalLogoImageClass {
    position: absolute;
    left: 31vw;
    top: 7.5vh;
  }

  .MobileQaynarXettDivClass {
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: 45vw;
    height: 12.5vh;
  }

  .QaynarXettPClass {
    position: absolute;
    top: 1.2vh;
    right: 5vw;
    font-size: 3vh;
    color: #3852F2;
  }

  .PhoneNumberPClass {
    position: absolute;
    top: 5vh;
    right: 17.5vw;
    font-size: 2.75vh;
    color: #F7AE16;
  }

  .WarningsDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 17.5vh;
  }

  .WarningsPClass {
    position: absolute;
    left: 7.5vw;
    top: 3.2vh;
    text-align: left;
    font-size: 3.2vh;
    font-family: BrandonText-Bold;
  }

  .CoronaVirusResourcesDivClass {
    position: relative;
    width: 100vw;
    height: 37vh;
    left: 0vw;
    top: 0vh;
  }

  .TheNumbersDivClass {
    position: relative;
    width: 80vw;
    height: 17vh;
    left: 10vw;
    top: 0vh;
    border-radius: 75px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0.1, 0.1, 0.1, 0.1);
  }

  .YoluxanNumbersDivClass {
    position: absolute;
    width: 40vw;
    height: 17vh;
    left: 0vw;
    top: 0vh;
  }

  .SagalanNumbersDivClass {
    position: absolute;
    width: 40vw;
    height: 17vh;
    right: 0vw;
    top: 0vh;
  }

  .NumberPClass {
    position: absolute;
    left: 15vw;
    top: 1vh;
    color: #F7AE16;
    font-size: 6vh;
  }

  .WordPClass {
    position: absolute;
    left: 9vw;
    top: 10vh;
    color: #F7AE16;
    font-size: 3vh;
  }

  .ContactLinksDivClass {
    position: relative;
    width: 100vw;
    height: 20vh;
    left: 0vw;
    top: 0vh;
  }

  .KoronavirusButtonClass {
    position: absolute;
    left: 10vw;
    top: 3vh;
    width: 40vw;
    height: 6vh;
    background-color: #3852F2;
    border: 0px;
    border-radius: 25px;
    color: #FFFFFF;
  }

  .ARSNButtonClass {
    position: absolute;
    left: 10vw;
    top: 11vh;
    width: 82.5vw;
    height: 6vh;
    background-color: #3852F2;
    border: 0px;
    border-radius: 25px;
    color: #FFFFFF;
  }

  .ARSNButtonClass:focus, .KoronavirusButtonClass:focus {
    outline: none;
  }

  .SualinizVarMobileContaineDivClass {
    position: relative;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 8vh;
  }

  .SualinizVarDivClass {
    position: absolute;
    left: 10vw;
    top: 1vh;
    width: 80vw;
    height: 7vh;
    border-radius: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 0px rgba(0.1, 0.1, 0.1, 0.1);
  }

  .SearchIconImageClass {
    position: relative;
    left: 2.5vw;
    bottom: 0.25vh;
    cursor: pointer;
  }

  .SualinizVarInputClass {
    position: relative;
    left: 2vw;
    top: 0vh;
    width: 60vw;
    height: 6.8vh;
    border: 0px;
    text-indent: 5vw;
  }

  .SualinizVarInputClass:focus {
    outline: none;
  }

  .GoButtonImageClass {
    position: absolute;
    right: 0vw;
    height: 7vh;
    bottom: 0.2vh;
    cursor: pointer;
  }

  .SuallarDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: fit-content;
  }

  .TopAndBottomEmptyDivClass {
    position: relative;
    width: 100vw;
    height: 1vh;
  }

  .SualDivClass {
    position: relative;
    width: 100vw;
    height: 7vh;
    border-bottom: 0.25px solid #434141;
  }

  .PlusIconImageClass {
    position: absolute;
    left: 10vw;
    top: 1.5vh;
    cursor: pointer;
  }

  .SualDivClass p {
    position: absolute;
    left: 20vw;
    top: 1.75vh;
    color: #434141;
    font-size: 2.5vh;
    opacity: 0.5;
    cursor: pointer;
  }

  .CavabDivClass {
    position: relative;
    display: none;
    left: 1.25vw;
    width: 100vw;
    height: auto;
  }

  .CavabDivClass p {
    position: relative;
    left: 10vw;
    width: 80vw;
    text-align: justify;
    color: #434141;
    opacity: 0.5;
  }

  .DontDoTheseDivClass {
    position: relative;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 55vh;
  }

  .DontDoTheseGraphicsImageClass {
    position: absolute;
    top: 5vh;
    left: 17.5vw;
    width: 70vw;
  }

  .DontDoTheseDivClass p {
    color: #434141;
    opacity: 0.5;
  }

  .qayda1 {
    position: absolute;
    top: 4vh;
    right: 5vw;
    font-size: 1.8vh;
  }

  .qayda2 {
    position: absolute;
    top: 12.5vh;
    right: 2.5vw;
    font-size: 1.75vh;
  }

  .qayda3 {
    position: absolute;
    top: 36vh;
    right: 3vw;
    font-size: 1.8vh;
  }

  .qayda4 {
    position: absolute;
    top: 36vh;
    left: 5vw;
    font-size: 1.8vh;
    width: 35vw;
  }

  .qayda5 {
    position: absolute;
    top: 12.5vh;
    left: 2vw;
    font-size: 1.8vh;
  }

  .qayda6 {
    position: absolute;
    top: 4vh;
    left: 4vw;
    font-size: 1.8vh;
  }
}
