/*........................................................................................................................................................................................*/
/*Landscape Mode Tablet, Laptop and Destkop Devices*/
@media (min-width: 1200px) {
  .titleDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
  }

  .titleDivClass h1 {
    text-align: center;
  }

  .introductionDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .introductionDivClass h2 {
    text-align: center;
  }

  .introductionDivClass p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .introductionImageClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .methodDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .methodDivClass h2 {
    text-align: center;
  }

  .methodDivClass p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .WolfHuntingTacticsClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vh;
  }

  .codeSnippetDivClass {
    position: relative;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: auto;
  }

  .codeSnippetDivClass p {
    text-align: left;
    font-size: 1.2vw;
    padding-left: 4.25vw;
    background-color: #404354;
    color: #EEEDEE;
  }

  .resultDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .resultDivClass h2 {
    text-align: center;
  }

  .resultDivClass p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .negotiationDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .negotiationDivClass h2 {
    text-align: center;
  }

  .negotiationDivClass p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .appendicesDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: auto;
  }

  .appendicesDivClass h2 {
    text-align: center;
  }

  .appendicesDivClass a {
    text-align: left;
    text-decoration: underline;
    font-size: 1.6vw;
    color: #404354;
  }

  .endingDivClass {
    position: relative;
    top: 0vh;
    left: 4vw;
    width: 92vw;
    height: 7.5vh;
  }

  .endingPreviousButtonClass {
    top: 0vh;
    left: 4vw;
    width: 11vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }

  .endingNextButtonClass {
    top: 0vh;
    right: 4vw;
    width: 11vw;
    border-radius: 2.5vh;
    font-size: 3vh;
  }
}
