/*........................................................................................................................................................................................*/
/*Fonts*/
@font-face {
  font-family: RobotoLight;
  src: url("RobotoLight.ttf");
}

/*........................................................................................................................................................................................*/
/*Everything*/
* {
  padding: 0px;
  margin: 0px;
  font-family: RobotoLight;
}

/*........................................................................................................................................................................................*/
/*HTML*/
html {
  scroll-behavior: smooth;
}

/*........................................................................................................................................................................................*/
/*Body*/
body {
  background-attachment: fixed;
  background-color: #EEEDEE;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*........................................................................................................................................................................................*/
/*Hide All Div Elements*/
.hideAllDivClass {
  display: block;
}

/*........................................................................................................................................................................................*/
/*Rotate Your Device Div Elements*/
.rotateDeviceDivClass {
  display: none;
}

.endingPreviousButtonClass {
  position: absolute;
  width: 0vw;
  background-color: #404354;
  color: #EEEDEE;
  cursor: pointer;
  border: 0;
}

.endingNextButtonClass {
  position: absolute;
  width: 0vw;
  background-color: #404354;
  color: #EEEDEE;
  cursor: pointer;
  border: 0;
}
